In [9]:

L = list() #construtor de listas

In [10]:
dias = [3,1,10]
dias [0]

3

In [17]:
dias= [3,1,10] 
dias [1]

1

In [16]:
dias= [3,1,10] 
dias [2]

10

In [20]:
Z= [3,8,9]
Z [0] = 7
Z

[7, 8, 9]

In [25]:
V = [6,7,5,8,9]
L = V
print(V==L)
print(V is L)
V[0]=5
print(V)
print(L)
print(V is L)

True
True
[5, 7, 5, 8, 9]
[5, 7, 5, 8, 9]
True

In [24]:
a = [81,82,83]
b = a [:]    #criar um clone com fatia
print(a == b)
print(a is b)
b [0] = 5
print(a)
print(b)

True
False
[81, 82, 83]
[5, 82, 83]

In [27]:
uma_lista = ['a','b','c','d','e','f']
print(uma_lista[1:3]) # 1 antes
print(uma_lista[:4])
print(uma_lista[3:]) #do 0 ao 3
print(uma_lista[:])

['b', 'c']
['a', 'b', 'c', 'd']
['d', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

In [32]:
a = [1,2,3]
b = a[:]
b[0]= 5
print(a[2])

#0,1,2,3,4

3

In [157]:
Minhalista = [76,92.3,"oi",True,4,76.]
Minhalista = Minhalista + ['pitomba', 76]

In [158]:
Minhalista

[76, 92.3, 'oi', True, 4, 76.0, 'pitomba', 76]

In [160]:
Minhalista = Minhalista[:3] + ['Cibele'] + Minhalista[3:]

In [161]:
Minhalista

[76, 92.3, 'oi', 'Cibele', True, 4, 76.0, 'pitomba', 76]

In [162]:
Minhalista = [99]  + Minhalista

In [163]:
Minhalista

[99, 76, 92.3, 'oi', 'Cibele', True, 4, 76.0, 'pitomba', 76]

In [164]:

if Minhalista[0] == 'oi':
    print(Minhalista[0])
elif Minhalista[1] == 'oi':
    print(Minhalista[1])
elif Minhalista[2] == 'oi':
    print(Minhalista[2])
elif Minhalista[3] == 'oi':
    print(Minhalista[3])
elif Minhalista[4] == 'oi':
    print(Minhalista[4])
elif Minhalista[5] == 'oi':
    print(Minhalista[5])
elif Minhalista[6] == 'oi':
    print(Minhalista[6])
elif Minhalista[7] == 'oi':
    print(Minhalista[7])
elif Minhalista[8] == 'oi':
    print(Minhalista[8])
elif Minhalista[9] == 'oi':
    print(Minhalista[9])
#removendo True da lista
#minhaLista = minhaLista[:5] + minhaLista[6:]

oi

In [165]:
Minhalista

[99, 76, 92.3, 'oi', 'Cibele', True, 4, 76.0, 'pitomba', 76]

In [166]:
Minhalista = Minhalista[:5] + Minhalista[6:]
Minhalista

[99, 76, 92.3, 'oi', 'Cibele', 4, 76.0, 'pitomba', 76]